@{
    ViewBag.Title = "whiteCC team - Education Theme";
}
<br /><br /><br />
<h2>Lastest technology</h2>
<br /><br />
<div class="col-md-6">
    <h3 style="color:#FF7F50">
        Online courses, reference links, books and certification courses
    </h3>
    <hr />
    <img src="https://cdn.pixabay.com/photo/2018/09/04/10/27/learn-3653430__340.jpg" style="width:45%;height:45%;float:right" />
    <p>
        This website is all about providing guidance for learning latest technologies and finding references about
        the same from the best platforms.<br /><br />It helps you find all the required material for your courses and is well
        updated with the platforms offering courses.<br /> <br />
        Best certification courses guidance is provided.
    </p>


</div>

<div>
    <p><br />
        Team: whiteCollor<br />
        Theme: Education<br />
        Team Members: Sai Nandini, Abhinav Reddy
    </p>
</div>