@{
    ViewBag.Title = "Reference Books and Links";
}
<h2>@ViewBag.Title.</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<table style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif;border-collapse:collapse;width: 100%">
    <tr>
        <th style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Course</th>
        <th style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Reference Link</th>
        <th style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Reference Book</th>
        <th style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Download</th>
    </tr>
    <tr>
        <td rowspan="2" style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Machine Learning</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.geeksforgeeks.org/machine-learning/" target="_blank">GeeksforGeeks</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Bayesian Reasoning and Machine Learning</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="http://web4.cs.ucl.ac.uk/staff/D.Barber/textbook/091117.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://towardsdatascience.com/machine-learning-an-introduction-23b84d51e6d0" target="_blank">TowardsDataScience</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Machine Learning Yearning</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.deeplearning.ai/machine-learning-yearning/" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td rowspan="2" style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Cyber Security</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.edureka.co/blog/what-is-cybersecurity/" target="_blank">Edureka</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Cybersecurity for Dummies</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://thycotic.com/resources/wileys-dummies-cybersecurity/" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.javatpoint.com/cyber-security-tutorial" target="_blank">Javatpoint</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Cyber Security Engineering</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.programmer-books.com/wp-content/uploads/2018/07/Cyber-Security-Engineering-Nancy-R.-Mead.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd" rowspan="2">Data Analytics</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://data-flair.training/blogs/data-analytics-tutorial/" target="_blank">Data-Flair</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Introduction to the Big Data Era</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.computer-pdf.com/database/309-tutorial-introduction-to-the-big-data-era.html" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.tutorialspoint.com/big_data_analytics/index.htm" target="_blank">Tutorials Point</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Excel Analytics and Programming</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.computer-pdf.com/office/excel/258-tutorial-excel-analytics-and-programming.html" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd" rowspan="2">Game Development</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.studytonight.com/game-development-in-2D/" target="_blank">Studytonight</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Introduction to Game Programming</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="http://graphics.cs.cmu.edu/nsp/course/15-462/Fall04/slides/GameProg.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.freecodecamp.org/news/tag/game-development/" target="_blank">FreeCodeCamp</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Game Coding Complete</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="http://canvas.projekti.info/ebooks/Game%20Coding%20Complete%20-%204th%20Edition.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd" rowspan="2">Android Devlopment</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://developer.android.com/guide" target="_blank">Developers</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Android Application Development</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.tutorialspoint.com/android/android_tutorial.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="https://www.vogella.com/tutorials/Android/article.html" target="_blank">vogella</a></td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd">Android Programming Cookbook</td>
        <td style="padding: 8px;text-align: left;border-bottom: 1px solid #ddd"><a href="http://enos.itcollege.ee/~jpoial/allalaadimised/reading/Android-Programming-Cookbook.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
</table>
