
@{
    ViewBag.Title = "";
}

<br />
<h2>A Clear Recommendation and Guidance</h2>
<p style="color:#FF7F50"> If you <i>love</i> your topic, you are <i>good</i> at your topic and you have <i>experience</i> in it, then you have a topic that will work for you!</p>
<h4>Happy Learning !!</h4><br />

<div class="row">
    <div class="col-md-4" >
        <h2 style="color:#FF4500">Machine Learing</h2>
        <p> Machine learning is an application of artificial intelligence (AI) that provides systems the ability to automatically learn and improve from experience without being explicitly programmed. Machine learning focuses on the development of computer programs that can access data and use it learn for themselves.</p>
        <p><a class="btn btn-default" href="https://www.coursera.org/learn/machine-learning?utm_source=gg&utm_medium=sem&utm_content=07-StanfordML-IN&campaignid=1950458127&adgroupid=69480953983&device=c&keyword=machine%20learning%20online%20lectures&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=351281535285&hide_mobile_promo&gclid=Cj0KCQjws_r0BRCwARIsAMxfDRj1irLWVXAzd8gTtin0mvK5RYT-qZAFMqYEmTKqU9x5J57kr6JesYsaAnXVEALw_wcB" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Cyber Security</h2>
        <p>Cyber security is the practice of defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. It's also known as information technology security or electronic information security.</p>
        <p><a class="btn btn-default" href="https://www.udemy.com/course/the-complete-internet-security-privacy-course-volume-1/" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Data Analytics</h2>
        <p>
            Data analysis courses address methods for managing and analyzing large datasets. Start your career as a data scientist by studying data
            mining, big data applications, and data product development.
        </p>
        <p><a class="btn btn-default" href="https://www.coursera.org/browse/data-science/data-analysis" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:#FF4500">Game Development</h2>
        <p>Video game development is the process of developing a video game. The effort is undertaken by a developer, ranging from a single person to an international team dispersed across the globe.</p>
        <p><a class="btn btn-default" href="https://www.udemy.com/courses/development/game-development/?utm_source=adwords&utm_medium=udemyads&utm_campaign=DSA_Catchall_la.EN_cc.INDIA&utm_content=deal4584&utm_term=_._ag_82569850245_._ad_428693085348_._kw__._de_c_._dm__._pl__._ti_dsa-392722865168_._li_9062168_._pd__._&matchtype=b&gclid=Cj0KCQjws_r0BRCwARIsAMxfDRgguunrBm7pWmEkZtKp2aXVBp98RJGeMUtz5W2TvP240AYBNwBsUM4aApJxEALw_wcB" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Augmented Reality</h2>
        <p>A technology that superimposes a computer-generated image on a user's view of the real world, thus providing a composite view.</p>
        <p><a class="btn btn-default" href="https://www.classvr.com/virtual-reality-downloads/?gclid=Cj0KCQjws_r0BRCwARIsAMxfDRhLAYdOBMLppSreKZdY1RcgCCRKuzdbbf8G_gtDp7lWrQSl11oYwNkaApsQEALw_wcB" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Big Data</h2>
        <p>Big data is a field that treats ways to analyze, systematically extract information from, or otherwise deal with data sets that are too large or complex to be dealt with by traditional data-processing application software.</p>
        <p><a class="btn btn-default" href="https://www.coursera.org/specializations/big-data" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:#FF4500">Oracle Certification</h2>
        <p>The Oracle Certification Program certifies candidates on skills and knowledge related to Oracle products and technologies.</p>
        <p><a class="btn btn-default" href="https://education.oracle.com/certification" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Android Devlopment</h2>
        <p>Android software development is the process by which new applications are created for devices running the Android operating system.</p>
        <p><a class="btn btn-default" href="https://developer.android.com/courses" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#FF4500">Data Science</h2>
        <p>Data science is an inter-disciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from many structural and unstructured data. Data science is related to data mining and big data.</p>
        <p><a class="btn btn-default" href="https://imarticus.org/data-science-prodegree-hyderabad/?utm_source=google&utm_medium=cpc&utm_campaign=1665089411&utm_term=%2Bdata%20%2Bscience&utm_campaigntype=search&gclid=Cj0KCQjws_r0BRCwARIsAMxfDRi4d7PZdyPv7YwWJjn2Vh-rhb4m5IV7La2nUbftAkJD8t1URjyGSWQaAlJHEALw_wcB" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:#FF4500">Deep Learning</h2>
        <p>Deep learning is part of a broader family of machine learning methods based on artificial neural networks with representation learning.</p>
        <p><a class="btn btn-default" href="https://www.simplilearn.com/artificial-intelligence-masters-program-training-course?&utm_source=google&utm_medium=cpc&utm_term=deep%20learning%20course&utm_content=414506797830&utm_device=c&utm_campaign=Search-AIML-ArtificialAgeGroup-NA-NA-IN-Main-Masters-AllDevice-adgroup-AIML-Deeplearning-Course-Exact-New&mkwid=s2kEBv5Ey|pcrid|414506797830|pkw|deep%20learning%20course|pmt|e|pdv|c|slid||pgrid|99241389984|ptaid|aud-679267555889:kwd-435498416564|&gclid=Cj0KCQjws_r0BRCwARIsAMxfDRi5JS5J87-0ZpzVy98rskyCptsadFwRTpgbgTkT8wyZyn2okMJvVm0aApACEALw_wcB" target="_blank" style="border:1px solid #2F4F4F;border-radius:25px;padding:10px">Learn more &raquo;</a></p>
    </div>
</div>