@{
    ViewBag.Title = "";
}


<div class="jumbotron">
    <h1 style="color:#FF4500"> whiteCollor Team</h1>
    <p class="lead"> Popular Learning Paths <i class="fa fa-fire" aria-hidden="true"></i></p>
    <!--<p><a href="ttps://asp.net" class="btn btn-primary btn-lg">  &raquo;</a></p>-->
    
</div>

<div style="margin:auto">
    <p>
        whiteCollor  |  Education  <hr />
        <img src="https://cdn.pixabay.com/photo/2019/12/02/23/20/online-4668930__340.jpg" style="width:34%;height:34%;float:right" />
        All about lastest technology and the required courses to take up online and the references are all set ready for you to begin with your
        new skill set on a new day. These news updates will also bring a large number of benefits for everyone. You can make and rely on your future decisions based on more realistic and plausible information. You can also identify the threats and opportunities from the very early age in your life. Hence you can shape the strategy and goal of your future profile and company, as you will gain a tremendous competitive edge.
        <br />
        keeping yourself updated with the latest news and current happenings, has its own advantage being it the current affairs or the
        technology around you. We help you stay close to reality by suggesting you the lastest technologies required for updating your
        skills.
        <br />
        Go ahead for the another new beginning !
    </p>

</div>